<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <h1><%= title %> </h1>
    <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(function(product) { %>
                <li>
                    <%= product.name %> | $<%= product.price %> 
                    <form action="/agregar" method="post">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <input type="number" min="1" name="quantity">
                        <button type="submit">Agregar</button>
                    </form>
                </li>

            <% }); %>
        </ul>
    <% } else { %>
        <p>No hay productos en la base de datos.</p>
    <% } %>
</body>
</html>